// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
div#cuisine_container{
  max-width:90%;

  h1#cuisine{
    margin: 0 auto;
    max-width: 100%;
    margin-top: 50px;
    text-align: center;
  }

}


div.country_container{
  
  max-width:90%;
  margin: 0 auto;

  div#image{
    float: left;
    max-width: 30%
  }

  div#quote p{
    float: right;
    font-size: 3em;
    line-height: 2em;
    max-width: 63%;
    color: #A92159;
    font-family: 'Gloria Hallelujah', cursive;
  }

}


table{
  
  th{
    font-size: 1.5em;
    font-weight: bold;
  }

  td {
    font-size: 1.5em;
  }

}



}
