#registration_container {
  width: 60%;
  margin: 0 auto;
  color: black;
  h1 {
    text-align: center;
    font-size: 10em;
  }
}
.required {
  input:not([type="submit"]):valid:focus,
  textarea:valid:focus {
    box-shadow: 0 0 10px rgba(101, 169, 10, 0.8);
    outline:0;
  }
  input:not([type="submit"]):invalid:focus,
  textarea:invalid:focus {
    box-shadow: 0 0 10px rgba(204, 63, 133, 0.8);
    outline:none;
  }
 
  input[type="email"]:focus:invalid ~ span:after {
    content:"Please enter a valid email";
  }
  input[type="password"]:focus:invalid ~ span:after {
    content:"Please enter a password over 8 chars long with at least one capital letter.";
  }

  input:focus:valid ~ span:after,
  textfield:focus:valid ~ span:after {
    content:"Looks good amigo!";
  }
}