// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body{

  h2{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align:center;
  }

  a#user_edit{
    text-align: center;
    margin: 0 auto;
    display: block;
  }

  div#user_container{
  max-width:10%;
  margin: 50px auto;
  


  div#user_image{
    max-width: 50%;
    margin-top: 0 auto;
    img{
        border-radius: 100%;
      }

  }


    p#username{
      font-size: 1.8em;
    }
  }

  

}
