$base-border-color: gainsboro !default;
$base-border-radius: 3px !default;
$action-color: #477DCA !default;
$dark-gray: #333 !default;
$large-screen: em(860) !default;
$navigation-padding: 1em;
$navigation-background: #57102C;
$navigation-color: transparentize(white, 0.3);
$logo-color: #BCC747 !default;
$link-color: #7EC2AA !default;
$navigation-color-hover: $logo-color !default;
$navigation-height: 90px;

$navigation-search-background: lighten($navigation-background, 5);
$navigation-search-border: 1px solid darken($navigation-background, 5);
$navigation-active-link-color: transparentize(white, 0.5);
$navigation-submenu-padding: 1em;
$navigation-submenu-width: 12em;
$horizontal-bar-mode: $large-screen;
